#head, #box1, #box2{
	margin: 0 auto;
	text-align: center;
	background-color: yellow;
	border: solid 2px black;
	padding: 5px;
	width: 250px; 
}

#box1{
	text-align: start;
}

#frame{
	margin:  0 auto;
	width: 264px;
	box-shadow: 10px 10px 5px #d3d3d3;
}

h1{
	font-family: lucida grande, sans-serif;
}

ol{
	/*list-style-type: none;*/
	font-family: tahoma;
	list-style-position: inside;
	margin-left: 32%;
	padding-left: 0;
}

li{
	cursor: pointer;
}

#itemDescription{
	font-size: small;
}

#add{
	font-size: medium;
}

h4{
	margin: 0 auto;
	padding-top: 5px;
	font-family: tahoma;
}

p{
	margin: 0 auto;
	width: 400px;
	text-align: center;
	font-family: tahoma;
}

/*This is where the media queries start*/
/*Phone*/
@media (max-width: 400px){
	body{
		margin: 0 auto;
	}

	p{
		margin: 0 auto;
	    width: 300px;
	    text-align: center;
	}
}